<h1 class="mt-4" id ="mainHeading">Task Scheduler</h1>
<head>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
crossorigin="anonymous"></script>
    <link rel = "stylesheet" href = "test.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>

<p class="lead mb-3" id = "welcomeMsg">Welcome <%= name %></p>

<a href="/users/logout" class="btn btn-info" id = "logout">Logout</a>
<%- include('./partial/messages.ejs'); %>

<div class = "container" id = "nTask">
<form action = "/users/arrayAdd" method = "POST">
    <input autocomplete="off"
        type="text" 
        id="arrayMe"
        name="arrayMe" 
        class="form-control"
        placeholder = "Add a task"
    >
</form>
</div>
<div class = "container" id = "currTask">
        <div class = "form-group">
         <ul class = "list-group" id ="currTaskUl">
                <% for(var i=0; i<tasks.length; i++) {%>
            <form action = "/users/dashboard" method = "POST" class = "taskForm">
                <div class = "input-group mb-3">
                <input type = "text" class = "form-control" name = "testerinput" id = "testIn" value = "<%= tasks[i] %>">
                    <button class = "btn btn-success btn-sm" type = "submit"><i class="fa fa-check fa-sm"></i></button>
                    <button class = "btn btn-danger btn-sm" type = "submit"><i class="fa fa-close fa-sm"></i></button>  
            </div>
        </form>
                <% } %> %> 
         </ul>
        </div>
    </div>      
    <form action = "/users/dashboard" method = "POST" id="testform">
        <input type="text" name = "t">
        <button type = "submit">tester</button>
        </form>
    <script src = "jstest.js"></script>