<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>
<%- include('./partial/messages.ejs'); %>
<div>
    <label> My Favourite Saying</label>
    <form action ="/users/dashboard" method ="POST">
        <div class = "form-group">
        <input 
        type="text" 
        id="favSaying"
        name="favSaying" 
        class="form-control"
        placeholder = "Enter phrase here"
        />
        </div>
        <small id="FavSayingInst" class="form-text text-muted">
            Enter a phrase to have it stored for the next time you login.
        </small>
    <button type="submit" class="btn btn-dark mt-2">Submit</button>
</div>
</form>
<label class = "mt-2" for="inputPassword5">My Favourite Saying from the DataBase</label>
<input type="text" id="returnMongo" class="form-control" aria-describedby="passwordHelpBlock" readonly value= "<%= favSaying %>" >
<small id="passwordHelpBlock2" class="form-text text-muted">
    Your Previous Favourite saying
   </small>
<a href="/users/logout" class="btn btn-secondary">Logout</a>