

<div style = "text-align: center;">
<h1 class="mt-4" id ="mainHeading">To-Do List Application</h1>
<head>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
crossorigin="anonymous"></script>
    <link rel = "stylesheet" href = "test.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>

<p class="lead mb-3" id = "welcomeMsg">Welcome <%= name %></p>

<a href="/users/logout" class="btn btn-light" id = "logout">Logout</a>
<%- include('./partial/messages.ejs'); %>
</div>

<div class = "container" id = "nTask" style = "text-align: center;">
<form action = "/users/arrayAdd" method = "POST" id = "addTask" style ="font-weight: bold;">
    <input autocomplete="off"
        type="text" 
        id="arrayMe"
        name="arrayMe" 
        class="form-control"
        placeholder = "Add a task">
</form>
</div>
<div id = "currTask">
    <form  method = "POST" class = "taskForm">
        <div class = "form-group">

                <% for(var i=tasks.length-1; i>=0; i--) {%>
                <div class = "input-group mb-3">
                <input type = "text" class = "form-control" name = "testerinput" value = "<%= tasks[i] %>">
                    <button class = "btn btn-success btn-sm" type = "submit"><i class="fa fa-check fa-sm"></i></button>
                 </div>
        
                <% } %> 
            </form>
        </div>
    </div>      
    <script src = "jstest.js"></script>