html{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}


body {
    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

p {
    color: white;
}

h1{
    color: white;
}

.btn.btn-danger.btn-sm{
    margin-right: 10px;
    border-radius: 4px;
    text-align: center;
    float:right;
    width: 50px;
}



.btn.btn-success.btn-sm{
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 4px;
    text-align: center;
    float:right;
    width: 50px;
}

#mainHeading{
    padding-top: 10px;
    text-align: center;
    justify-content: center;
}


#welcomeMsg{
    text-align: center;
}

.table{
    background-color:#F8F8F8;
    border-radius: 8px;
}

#nTask {
    text-align: center;
    margin-left: 50px;
}

#arrayMe {
    width: 60%;
    display: inline-block;
    margin-bottom: 30px;
    margin-right: 70px;
    margin-top: 25px;
}

.taskForm{
    overflow:auto;
}

#logout{
    display: inline-flex;
    border-radius: 4px;
    margin-bottom: 10px;
    
}

.alert{
    top:30%;
    width: 20%;
    border-radius: 4px;
    text-align: center;
    position: fixed;
    right: 30px;
    top:30px;
}

#currTask{
    border-radius: 5px;
    height: 300px;
    overflow-y:auto;
}

input[type = "text"]{
    background-color: gainsboro;
}
